[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "afcharts"]
	path = afcharts
	url = https://github.com/best-practice-and-impact/afcharts
[submodule "aftables"]
	path = aftables
	url = https://github.com/best-practice-and-impact/aftables
